$home-head-bf-bg-color : #008af9e8;
$home-head-bg-color : #ffeee5;
$home-top-bg-color : #05b383;

$primary-text: rgba(0, 0, 0, .5);
$primary-color : #05b383;
$secondary-color: #0291d2;
$alert-color :#e9683f;
$sucess-color : #05b383;
$info-color : #0acaca;
$text-muted:#81898d;
$border-color:#e3e5f1;
$footer-color:#43585d;